{% extends 'public.html' %}
{% block content %}
    <h1>About us</h1>
    <p>We disagree with crime! 100</p>

    <p>We also believe in eco friendly cleaning because that is cool!</p>
    <p>Treating our employees fairly for the work they do is so cool, becuase we are not monsters.</p>

    <h2>Logan</h2>
    <p>I am not that interesting tbh, kinda just out here doing my thing</p>

    <h2>Callie</h2>
    <p>Technically, I am legally dead!! But that's only for when the IRS starts getting too nosy.</p>
{% endblock content %}